.nav{
    
    
    &-tab{        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 35px;
        background-color: white;
        &-item{
            padding-bottom: 25px;
            margin:10px 0px;
        }
    }
    .checked{
        border-bottom: 1px solid rgb(87, 190, 173);
        color: rgb(87, 190, 173);
        
    }
}