.magic{
    &-square{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        margin:40px 0px;
        justify-content: center;
        &-view{
            width: 19%;
            height: 140px;
            // border: 1px solid red;            

            display: flex;
            flex-direction: column;
            align-items: center;
            
            margin-top: 20px;            
        }
        & Text{
            font-size: 30px;
            color: #595959;
            margin-top: 10px;
        }
        & Image{
            width: 95px;
            height: 95px;
        }
    }
}
