.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #57bead;
    height: 120px;
    &-border{
        // border: 1px solid black;
        width: 90%;
        margin: 10px 20px;
        border-radius: 50px;
        background-color: #f0f0f0;
        &-input{
            margin: 10px 20px;
        }
    }
    
}