.slide{   

    height: 360px;    
    &-img{
        width: 100%;
        height: 100%;
    }
}

.scrolslide{
    // height: 4050px;
    margin: 0px 0px;
    background-color: white;
    &-imgs{
        //设置为可左右滑动
        display:inline-block;        
        white-space:nowrap;
        margin: 20px 0px;
        &-img{            
            height: 300px;
            width: 500px;
            margin: 0px 10px;
            border-radius: 3%;
        }
    }

    
}