.img{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    &-title{
        display: flex;
        height: 100px;       
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #f0f0f0;
        font-size: 32px;
    }
}
.style1{
    .img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        &-lists,&-lists-item{
            display: flex;
        }
        &-lists{    
            width: 100%;    
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 20px;
            justify-content: flex-start;
            
            &-item{
                position: relative;
                width: 50%;
                // margin: 0px 10px;
                &-view{
                    position: absolute;
                    top: 200px;                    
                    width: 350px;
                    margin-left: 15px;
                    line-height: 50px;
                    background-color: rgba(0,0,0,.2); 
                    &-txt{
                        font-size: 30px;
                        color: white;
                        margin-left: 20px;
                    }
                }
                //& Image
                &-img{
                width: 350px;
                height: 250px;
                margin:10px 15px;
                border-radius: 5%;
            }
            }
            
            
        }
    }
}
.style2{
    .img{        
        &-lists{     
            display: flex;
            flex-direction: column;
            align-items: center;       
            &-item {
                display: flex;
                position: relative;                
                width: 90%;
                margin-bottom: 20px;
                &-img{
                    width: 800px;
                    height: 400px;
                    border-radius: 3%;
                }
                &-view{
                    position: absolute;
                    top:300px;                    
                    width: 100%;
                    line-height: 65px;
                    background-color: rgba(0,0,0,.2);                    
                    &-txt{
                        margin-left: 50px;
                        font-size: 35px;
                        color: white;
                    }
                }
            }
            
        }
    }
}
.style3{
    .img{
        &-main{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            // width: 90%;
            &-img{
                width: 710px;
                height: 480px;
            }
            &-view{
                position: absolute;
                background-color: rgba(0,0,0,.2);
                width: 710px;
                height: 60px;
                top: 400px;    
                &-txt{
                    color: white;
                    font-size: 35px;
                    margin-left: 20px;
                }            
            }
        }
        &-lists{
            display: flex;
            flex-direction: row;
            margin: 20px 10px;
            overflow-x:auto;  
            //隐藏滚动条
            &::-webkit-scrollbar {
                display: none;
            }    
            .selected{
                &-img{
                    border: 1px solid #57bead;
                }
                
            }      
            &-item{     
                margin: 15px 0px;           
                &-img{
                    width: 180px;
                    height: 180px;
                    margin: 0px 10px;
                    border-radius: 5%;
                }
                &-txt{
                    display: none;
                }
            }
        }
    }
}
//共同属性
.style1,.style2{
    .img{
        &-main{
            display: none;
        }
    }
}