.img{
    margin-top: 20px;
    background-color: white;
    &-title{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #f0f0f0;
    }
    &-lists{        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
        
        &-item{
            position: relative;
            width: 50%;
            display: flex;
            justify-content: center;
            & Text{
                position: absolute;
                top: 200px;
                left: 40px;
                font-size: 30px;
                color: white;
            }
        }
        & Image{
            width: 330px;
            height: 250px;
            margin:10px 0px;
            border-radius: 5%;
        }
        
    }
}